<% include!("header.html"); %>

<form action="/channels" method="POST">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" required/>
    <label for="channel_id">Channel ID</label>
    <input id="channel_id" type="text" name="channel_id" required/>
  </div>
  <div>
    <input type="submit" value="Add channel to list"/>
  </div>
</form>

<% if channels.len() > 0 { %>
  <h2>Channels</h2>
  <ul>
  <% for channel in &channels { %>
    <li>
      <%= channel.name %>
      [<a href="/videos?channel_id=<%= channel.channel_id %>">Videos</a>]
      [<a href="/channels/delete/<%= channel.id %>">Delete</a>]
    </li>
  <% } %>
  </ul>
<% } %>

<% include!("footer.html"); %>
